version: "3.8"

services:
  db:
    image: postgres:15
    container_name: pizzumburgum-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: pizzumburgum_db
      POSTGRES_USER: pizzumburgum_user
      POSTGRES_PASSWORD: AVJmupeub   # cambiar por algo seguro
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
