<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear - PizzUM & BurgUM</title>
    <link rel="stylesheet" href="../../../static/css/background-header-footer.css" th:href="@{/css/background-header-footer.css}">
    <link rel="stylesheet" href="../../../static/css/cliente/paneles-cliente.css" th:href="@{/css/cliente/paneles-cliente.css}">
</head>
<body>
<header>
    <div class="header-brand">
        <img class="logo" alt="PizzUM & BurgUM logo" src="/images/logo.png" />
        <h1 class="brand-title">PizzUM & BurgUM</h1>
    </div>

    <nav class="nav-bar">
        <a href="../inicio-cliente.html" th:href="@{/cliente/home}">Inicio</a>
        <a class="active" href="CreacionesPrincipalMenu.html" th:href="@{/cliente/hacer-creacion}">Crear</a>
        <a href="../carrito/lista.html" th:href="@{/cliente/carrito}">Carrito</a>
        <a href="../favoritos/lista.html" th:href="@{/cliente/favoritos}">Favoritos</a>
        <a href="../historial/lista.html" th:href="@{/cliente/historial}">Historial</a>
        <a href="../perfil.html" th:href="@{/cliente/perfil}">Perfil</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="nav-link">Cerrar sesión</button>
        </form>
    </nav>
</header>

<main class="client-container">
    <div class="client-panel">

        <!-- CREAR PIZZA -->
        <a href="formPizza.html"
           th:href="@{/cliente/creaciones/pizza/nueva}"
           class="client-item large">
            <h2>Crear Pizza</h2>
            <p>Armá tu pizza personalizada.</p>
        </a>

        <!-- CREAR HAMBURGUESA -->
        <a href="formHamburguesa.html"
           th:href="@{/cliente/creaciones/hamburguesa/nueva}"
           class="client-item large">
            <h2>Crear Hamburguesa</h2>
            <p>Diseñá tu hamburguesa a medida.</p>
        </a>
    </div>
</main>

<footer class="footer">
    <div class="footer-brand">
        <img class="logo" alt="PizzUM & BurgUM logo" src="/images/logo.png" />

        <strong class="footer__title">PizzUM &amp; BurgUM</strong>
    </div>
    <small>© 2025 — Todos los derechos reservados</small>
</footer>

</body>
</html>
