body {
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Hero principal */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 20px;
    color: #fff;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero .hero-box {
    padding: 40px 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 1200px; /* o el ancho máximo que quieras */
    box-sizing: border-box; /* para que el padding no sume al ancho total */
    text-align: center;
}

/* Títulos */
.hero .title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 700;
}

/* Lista de beneficios */
.hero .list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.hero .list li {
    position: relative;
    font-size: 1.5rem;
    margin: 15px 0;
    padding-left: 30px;
}

.hero .list li::before {
    position: relative;
    left: 0;
    color: #fff;
    font-weight: bold;
}

.hero .hero-slogan {
    font-size: 1.9rem;
    font-family: 'Garamond', serif;
    font-style: italic;
    font-weight: 500;
}

/* Sub-hero*/
.hero h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

/* contenedor de botones */
.hero .btn-container {
    display: flex;
    justify-content: center; /* centra los botones horizontalmente */
    gap: 20px; /* espacio entre botones */
    margin-top: 20px; /* separación con el título */
}

/* botones estilo hero */
.hero .btn {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 10px;
    transition: background 0.2s, color 0.2s;
    display: inline-block;
    background-color: #ff6347;
    color: #fff;
    border: none;
}

/* hover */
.hero .btn:hover {
    background-color: #ff8163;
}

/* activo */
.hero .btn.active {
    background-color: #ff6347;
    color: #fff;
}

.main-section {
    background-color: #440c0c; /* rojo oscuro profundo */
    padding-top: 10px;
    padding-bottom: 40px;
}

html, body {
    overflow-x: hidden;
}
