/* Contenedor principal */
main.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    min-height: calc(100vh - 200px);
    color: #fff;
}

/* Card del formulario */
.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 40px 30px;
    border-radius: 20px;
    max-width: 700px;
    width: 100%;
    text-align: center;
}

/* Título */
.card .title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

/* Grid de campos */
.form-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 6px;
    font-weight: 500;
}

.input {
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    outline: none;
    transition: border 0.2s, background 0.2s;
}

.input::placeholder,
.textarea::placeholder {
    color: rgba(255, 255, 255, 0.8); /* blanco con leve transparencia */
}

.input:focus {
    border-color: #ff6347;
    background-color: rgba(255,255,255,0.2);
}

/* Checkbox */
.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95rem;
    margin-top: 10px;
}

/* Mensajes */
.success-banner {
    background-color: rgba(40,167,69,0.8);
    color: #fff;
    padding: 12px 16px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.error-banner {
    display: none;
    background-color: rgba(255,0,0,0.8);
    color: #fff;
    padding: 12px 16px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.error-banner.show {
    display: block;
}

/* Botones */
.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

/* Botón principal */
.btn--primary {
    background-color: #ff6347;
    color: #fff;
    border: none;
}

.btn--primary:hover {
    background-color: #ff8163;
}

/* Botón secundario / ghost */
.btn--ghost {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn--ghost:hover {
    background-color: rgba(255,255,255,0.2);
}

/* Responsive */
@media (max-width: 768px) {
    .form-grid {
        flex-direction: column;
    }
}
