<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio administrador - PizzUM & BurgUM</title>
    <link rel="stylesheet" href="../../static/css/background-header-footer.css" th:href="@{/css/background-header-footer.css}">
    <link rel="stylesheet" href="../../static/css/administrador/admin.css" th:href="@{/css/admin.css}">
</head>
<body>

<header>
    <div class="header-brand">
        <img class="logo" alt="PizzUM & BurgUM logo" src="/images/logo.png" />
        <h1 class="brand-title">PizzUM & BurgUM</h1>
    </div>

    <nav class="nav-bar">
        <a class="active" href="inicio-administrador.html" th:href="@{/templates/administrador/inicio-administrador.html}">Inicio</a>
        <a href="../pedido/lista.html" th:href="@{/templates/pedido/lista}">Pedidos</a>
        <a href="../producto/lista.html" th:href="@{/templates/producto/lista}">Productos</a>
        <a href="../administrador/lista.html" th:href="@{/templates/administrador/lista}">Administradores</a>
    </nav>
</header>

<main class="admin-container">
    <div class="admin-panel">

        <a href="pedidos.html" class="admin-item medium">
            <h2>Pedidos</h2>
            <p>Gestiona pedidos.</p>
        </a>

        <a href="productos.html" class="admin-item medium">
            <h2>Productos</h2>
            <p>Agrega, elimina y edita productos.</p>
        </a>

        <a href="crear-administrador.html" class="admin-item medium">
            <h2>Administradores</h2>
            <p>Agrega, elimina y edita cuentas de administrador.</p>
        </a>

    </div>
</main>

<footer class="footer">
    <div class="footer-brand">
        <img class="logo" alt="PizzUM & BurgUM logo" src="/images/logo.png" />
        <strong class="footer__title">PizzUM &amp; BurgUM</strong>
    </div>
    <small>© 2025 — Todos los derechos reservados</small>
</footer>

</body>
</html>
