<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Pedidos</title>
    <link rel="stylesheet" href="../../../static/css/background-header-footer.css" th:href="@{/css/background-header-footer.css}">
    <link rel="stylesheet" href="../../../static/css/administrador/admin.css" th:href="@{/css/administrador/admin.css}">
</head>
<body>

<header>
    <div class="header-brand">
        <img class="logo" alt="PizzUM & BurgUM logo" src="/images/logo.png" />
        <h1 class="brand-title">PizzUM & BurgUM</h1>
    </div>

    <nav class="nav-bar">
        <a href="../inicio-administrador.html" th:href="@{/administrador/inicio}">Inicio</a>
        <a class="active" href="lista.html" th:href="@{/pedidos}">Pedidos</a>
        <a href="../producto/lista.html" th:href="@{/admin/productos}">Productos</a>
        <a href="../lista.html" th:href="@{/administrador/lista}">Administradores</a>
        <a href="../administrador/perfil.html" th:href="@{/administrador/perfil}">Perfil</a>
        <a href="../administrador/ventas/lista.html" th:href="@{/admin/ventas}">Ventas</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="nav-link">Cerrar sesión</button>
        </form>
    </nav>
</header>


<footer class="footer">
    <div class="footer-brand">
        <img class="logo" alt="PizzUM & BurgUM logo" src="/images/logo.png" />
        <strong class="footer__title">PizzUM &amp; BurgUM</strong>
    </div>
    <small>© 2025 — Todos los derechos reservados</small>
</footer>

</body>
</html>